<!DOCTYPE html>
<html>
  <head>
    <title>Ticetac</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">

  </head>
  <body>

    <%- include('header') %>
 
    <div class="home"> 

        <div class="container-fluid">
      
           <div  class="row-fluid">
           
              <% if(userJourneys.length<1){ %>

                <h3 class="text-white">No trip booked yet!</h3>

              <% } else { %>

              <!-- tableau paniers  -->
              <table class="table table-light border border-primary">
                <thead>
                  <tr class="table-info">
                    <th scope="col">N°</th>
                    <th scope="col">Journey</th>
                    <th scope="col">Date</th>
                    <th scope="col">Departure time</th>
                    <th scope="col">Price</th>
                  </tr>
                </thead>

                <tbody>
                  <% for(let i=0; i<userJourneys.length; i++){ %>
                    <tr>
                    <th scope="row"><%=i+1%></th>
                    <td><%=userJourneys[i].departure%> / <%=userJourneys[i].arrival%></td>
                    <td><%=displayDate(userJourneys[i].date)%></td>
                    <td><%=userJourneys[i].departureTime%> h</td>
                    <td><%=userJourneys[i].price%> €</td>
                  </tr>
                  <% } %>
                  
                </tbody>
                
              </table>
              <div class="d-flex justify-content-end">
              <a href='/homepage'><button type="button " class="btn btn-danger ">Home</button></a>

              <% } %>
            </div>
            </div>

        </div>
  
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
